body{
  padding:0;
  margin: 0;
}

h1{
  display:block;
  width:100%;
  text-align: center;
  margin: 0 auto 0 auto;
  font-family: 'Permanent Marker', cursive;
  color: #3fbebd;
}
p{
  display:block;
  width:100%;
  text-align: center;
  margin: 0 auto 2em auto;
  color:#556565;
}
.content{
  padding: 10px 40px 40px 40px;
  max-width:800px;
  min-height:100vh;
  margin: 0 auto;
  -webkit-box-shadow:0px 2px 44px -2px rgba(0,0,0,0.75);
  -moz-box-shadow:0px 2px 44px -2px rgba(0,0,0,0.75);
  box-shadow:0px 2px 44px -2px rgba(0,0,0,0.75);
}
.popup-content{
  padding: 0 20px;
}
ol{
  padding-left:0;
}
li{
  margin-bottom:1em;
}
.popup-links{
  text-align: center;
  padding:1em;
}
.title{
  font-size: 2em;
}
button{
  float:right;
  font-size: 2em;
  background-color: #3fbebd;
  color:#fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
}
.edit{
  box-sizing: border-box;
  width:100%;
  padding: 1em 2em;
  margin:2em 0em 2em 0em;
  min-height:3em;
  border: 1px solid #333;
}

img {
  transform: scale(0.5);
  display:block;
  margin: -30px auto;
  padding: 0 0;
}
